{% extends "base.html" %}

{% block extrahead %}
  <link rel="icon" href="{{ 'assets/favicon.ico' | url }}" sizes="any">
  <link rel="icon" href="{{ 'assets/tetrion-favicon-16.svg' | url }}" type="image/svg+xml">
  <link rel="icon" href="{{ 'assets/favicon-16.png' | url }}" type="image/png" sizes="16x16">
  <link rel="icon" href="{{ 'assets/favicon-32.png' | url }}" type="image/png" sizes="32x32">
  <link rel="icon" href="{{ 'assets/favicon-48.png' | url }}" type="image/png" sizes="48x48">
  <link rel="apple-touch-icon" href="{{ 'assets/favicon-180.png' | url }}" sizes="180x180">
{% endblock %}
